@CHARSET "ISO-8859-1";
legend {
	font-size: 125%;
	color: #000;
}

form {
	width: 500px;
	margin: auto;
	background-color: #dddddd;
	font-family: Times New Roman;
	font-size: 100%;
	border-radius: 5px;
	padding: 16px;
	border: 1px solid #999;
	position: relative;
}

.shoppingCart {
	position: absolute;
	top: 10px;
	right: 10px;
}

.addToCart {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

table {
	width: 100%;
}

input {
	width: 100%;
}

